.signin-form .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  #errordiv {
    background-color: peachpuff;
    padding: 20px;
    border-radius: 6px;
    border: 2px solid rosybrown;
    color: rgb(100, 0, 0);
  }