<section class="signin-form">
    
    <form fxLayoutAlign="space-evenly center"  fxLayout="column" fxLayoutGap="15px" #signinForm="ngForm" (ngSubmit)="onSignin(signinForm)" (change)="clearError()">
        <div></div>
        <h3>Login to your account: </h3>

        <mat-form-field >
            <input type="string" matInput placeholder="Email" name="email" email required ngModel #emad="ngModel">
            <mat-error>Looks like your email address is not valid, please check it again.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input type="password" matInput placeholder="Password" name="password" ngModel required minlength="6" #passwordChars="ngModel" matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error>Chack your password and try again.</mat-error>
        </mat-form-field>
        
        <mat-slide-toggle name="keep" ngModel disabled>Keep me logged in.</mat-slide-toggle>

        <div id="errordiv" *ngIf="failure">
            <p>Error: {{ failure }}</p>
        </div>

        <button mat-raised-button color="primary" type="submit" [disabled]="signinForm.invalid">Go!</button>

    </form>
</section>