<section fxLayoutAlign="space-evenly center" class="validation-form">
    
    <form fxLayout="column" fxLayoutGap="15px" #validationForm="ngForm" (ngSubmit)="onValidate(validationForm)" (change)="clearError()">
        <div></div>
        <h3>Please validate your account before signing in: </h3>
        <p>We sent you a validation code to the email address you provided</p>
        <!--mat-form-field >
            <input type="string" matInput placeholder="Email" name="email" email required ngModel #emad="ngModel">
            <mat-error>Looks like your email address is not valid, please check it again.</mat-error>
        </mat-form-field-->
        <mat-form-field >
            <input type="string" matInput minlength="6" maxlength="6" placeholder="Validation code" name="code" required ngModel #cd="ngModel" pattern="^[0-9]+[0-9]*$">
            <mat-error>Looks like the code is incorrect, please check it again.</mat-error>
        </mat-form-field>
    
        <mat-slide-toggle name="logme" ngModel disabled>Log me in.</mat-slide-toggle>

        <button mat-raised-button color="primary" type="submit" [disabled]="validationForm.invalid">Validate!</button>
    </form>
</section>