<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
        <mat-nav-list>
            <a mat-list-item *ngIf="!isAuthenticated" routerLink="/signup" (click)="sidenav.close()">Signup</a>
            <a mat-list-item *ngIf="!isAuthenticated" routerLink="/signin" (click)="sidenav.close()">Signin</a>
            <a mat-list-item *ngIf="isAuthenticated" routerLink="/appointments" (click)="sidenav.close()">Appointments</a>
            <a mat-list-item (click)="onSignout()" *ngIf="isAuthenticated">Signout</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div>
                <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu_open</mat-icon></button>
            </div>
            <div fxFix >
                <a routerLink="/">
                Testing PT API
                </a>
            </div>
        </mat-toolbar>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>