.signup-form .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  #errordiv {
    background-color: peachpuff;
    padding: 20px;
    border-radius: 6px;
    border: 2px solid rosybrown;
    color: rgb(100, 0, 0);
  }