<section fxLayoutAlign="space-evenly center" class="signup-form">
    
    <form fxLayout="column" fxLayoutGap="15px" #signupForm="ngForm" (ngSubmit)="onRegister(signupForm)" (change)="clearError()">
        <div></div>
        <h3>Create a new account: </h3>
        <mat-form-field >
            <input type="string" matInput placeholder="Name" name="name" minlength="3" required ngModel>
            <mat-error>Please enter your name</mat-error>
        </mat-form-field>

        <!--mat-form-field >
            <input type="string" matInput placeholder="Last Name" name="last_name" minlength="3" required ngModel>
            <mat-error>Please enter your last name</mat-error>
        </mat-form-field-->

        <mat-form-field >
            <input type="string" matInput placeholder="Email" name="email" email required ngModel>
            <mat-error>Looks like your email address is not valid, please check it again.</mat-error>
        </mat-form-field>

        <mat-form-field >
            <input type="tel" matInput placeholder="Phone" name="num_telephone" maxlength="10" required ngModel pattern="^[0-9]+[0-9]*$">
            <mat-error>Please enter a valid phone number</mat-error>
        </mat-form-field>

        <mat-form-field hintLabel="6+ characters">
            <input type="password" matInput placeholder="Password" name="password" ngModel required minlength="6" #passwordChars="ngModel" matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint align="end">{{ passwordChars.value?.length }}/6</mat-hint>
            <mat-error>Whoops! Looks like your password is short.</mat-error>
        </mat-form-field>

        <mat-radio-group aria-label="User Type" name="type_user" ngModel required>
            <mat-radio-button value="client">Costumer</mat-radio-button>
            <mat-radio-button value="prestatire">Service provider</mat-radio-button>
        </mat-radio-group>

        <mat-form-field>
            <mat-label>Country</mat-label>
            <mat-select name="pays" required ngModel>
                <mat-option value="Algérie">Algeria</mat-option>
                <mat-option value="France">France</mat-option>
              <!--mat-option *ngFor="let country of countries" [value]="country.value" name="pays" ngModel required>
                {{country.value}}
              </mat-option-->
            </mat-select>
        </mat-form-field>
    
        <mat-checkbox name="cgu" ngModel required matInput (change)="onCheck($event)">
            I agree to the terms and conditions of using this app.
        </mat-checkbox>

        <div id="errordiv" *ngIf="failure">
            <p>Error: {{ failure }}</p>
        </div>

        <button mat-raised-button color="primary" type="submit" [disabled]="signupForm.invalid">Go!</button>
    </form>
</section>